#Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding-bottom: 1%;
  margin: 1% 0% 0% 27%;
 
 
  background-color: rgb(255, 255, 255);
}
 
 
 
#Header {
  /* background-color: rgb(73, 69, 69); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  padding: 1% 30%;
  margin-right: 80px;
}
 
#Search {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 30px;
  margin-right: 120px;
}